@using NonFactors.Mvc.Grid;
@model IEnumerable<CAF.JBS.ViewModels.BillingHoldViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 1;
}

<style>
    .colPolicyNo{
        width: 150px;
    }
    .coldate{
        width: 150px;
    }
</style>


<h2>Billing Hold</h2>


<p style="text-align:right;">
    <a class="btn btn-primary" asp-action="Create">ADD</a>
</p>
@(Html
    .Grid(Model)
    .Build(columns =>
    {
        //columns.Add(model => i++).Titled("PolicyId");
        columns.Add(model => model.policy_No).Titled("PolicyNo").Css("colPolicyNo");
        columns.Add(model => model.ReleaseDate).Titled("Unhold Date").Formatted("{0: dd MMM yyyy}").Css("coldate");
        columns.Add(model => model.Description).Titled("Description");
        columns.Add(model => "<a class='glyphicon glyphicon-pencil' href='./BillingHold/Edit/" + model.policy_Id + "'>"+
                            "</a>  <a class='glyphicon glyphicon-trash' href='./BillingHold/Delete/" + model.policy_Id + "'></a>")
        .Encoded(false).Filterable(false);
    }).Empty("No data found")
    .Pageable(pager =>
    {
        pager.PagesToDisplay = 10;
        pager.RowsPerPage = 10;
    })
    .Sortable()
    .Filterable()
    .Css("table-hover")
)