<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultDB" value="server=192.168.1.16;database=jbs;user id=life21dev;password=a1s2d3f4;default command timeout=0;" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>