@{
    ViewData["Title"] = "Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    th input {
        width: 100%;
    }

    table.dataTable thead tr th.search {
        padding: 10px 8px;
    }
</style>
<h2>Policy</h2>
<br />
<table id="myTable">
    <thead>
        <tr>
            <th>PolicyID</th>
            <th>PolicyNo</th>
            <th>CommenceDate</th>
            <th style="min-width:80px;">DueDate</th>
            <th>P.Method</th>
            <th>PaymentFreq</th>
            <th>CycleDate</th>
            <th>CylceDateNotes</th>
            <th style="min-width:120px;">Product</th>

            <th>CustomerName</th>
            <th>Premi</th>
            <th>CashlessFee</th>
            <th>Status</th>

            <th>IsHoldBilling</th>
            <th>IsWatchList</th>
            <th>IsRenewal</th>
            <th>WorksiteName</th>
            <th style="min-width:80px;">DateCrt</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
        </tr>
    </tfoot>
</table>

<script>
    $(document).ready(function () {
        $('#myTable').dataTable({
            serverSide: true,
            processing: true,
            pagingType : "full_numbers",
            initComplete: function () {
                var r = $('#myTable tfoot tr');
                $('#myTable thead').append(r);
                $('#search_0').css('text-align', 'center');

                this.api().columns([13]).every(function () {
                    var column = this;
                    var select = $('<select><option value=""> ... </option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            column.search(this.value).draw();
                        });
                    select.append('<option value="1">True</option>');
                    select.append('<option value="0">False</option>');
                });
                this.api().columns([14]).every(function () {
                    var column = this;
                    var select = $('<select><option value=""> ... </option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            column.search(this.value).draw();
                        });
                    select.append('<option value="1">True</option>');
                    select.append('<option value="0">False</option>');
                });
                this.api().columns([15]).every(function () {
                    var column = this;
                    var select = $('<select><option value=""> ... </option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            column.search(this.value).draw();
                        });
                    select.append('<option value="1">True</option>');
                    select.append('<option value="0">False</option>');
                });

            },
            dom: '<"top"B>tr<"bottom"ip>',
            language: {
                "decimal": ",",
                "thousands": ".",
                "zeroRecords": "No Data",
                "infoEmpty": "No Data",
            },
            ajax: {
                "url": "@Url.Action("PageData", "PolicyBilling")",
                "type": "POST"
            },
            columns: [
                { data: "policy_Id" },
                { data: "policy_no" },
                {
                    data: "commence_dt",
                    searchable: false,
                    className: "dt-right",
                    render: function (data) {
                        var tgl = new Date(data);
                        return data == null ? "" : tgl.toLocaleDateString("en-GB", { year: "numeric", month: "short", day: "numeric" })
                    }
                },
                {
                    data: "due_dt",
                    searchable: false,
                    className: "dt-right",
                    render: function (data) {
                        var tgl = new Date(data);
                        return data == null ? "" : tgl.toLocaleDateString("en-GB", { year: "numeric", month: "short", day: "numeric" })
                    }
                },
                { data: "payment_method", className: "dt-center"},
                { data: "premium_mode", className: "dt-center" },
                {
                    data: "cycleDate",
                    className: "dt-center",
                    render: function (data, type, row) {
                        return '<a data-toggle="modal" class="anchor-update" data-id=' + row.policy_Id + '>' + data + '</a>';
                    }
                },
                { data: "cylceDateNotes" },
                { data: "product_description" },
                { data: "customerName" },
                {
                    data: "regular_premium",
                    searchable: false,
                    render: $.fn.dataTable.render.number(',', '.', 0, ''),
                    className: "dt-right"
                },
                {
                    data: "cashless_fee_amount",
                    searchable: false,
                    render: $.fn.dataTable.render.number(',', '.', 0, ''),
                    className: "dt-right"
                },
                { data: "policy_status", className: "dt-center" },

                {
                    data: "isHoldBilling",
                    className: "dt-center",
                    render: function (data) {
                        return (data ? "<span class='glyphicon glyphicon-ok text-success'></span>" : "");
                    }
                },
                {
                    data: "isWatchList",
                    className: "dt-center",
                    render: function (data) {
                        return (data ? "<span class='glyphicon glyphicon-ok text-success'></span>" : "");
                    }
                },
                {
                    data: "isRenewal",
                    className: "dt-center",
                    render: function (data) {
                        return (data ? "<span class='glyphicon glyphicon-ok text-success'></span>" : "");
                    }
                },
                { data: "worksite_org_name", className: "dt-center" },
                {
                    data: "dateCrt",
                    searchable: false,
                    className: "dt-right",
                    render: function (data) {
                        var tgl = new Date(data);
                        return data == null ? "" : tgl.toLocaleDateString("en-GB", { year: "numeric", month: "short", day: "numeric" })
                    }
                },
            ]
        });

        $('#myTable tfoot th').filter(":eq(0),:eq(1),:eq(4),:eq(5),:eq(6),:eq(7),:eq(8),:eq(9),:eq(12),:eq(16)").each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder=" ... " />');
        });

        // DataTable
        var table = $('#myTable').DataTable();

        /* Apply the search for individual columns*/
        table.columns().every(function () {
            var that = this;
            $('input', this.footer()).on('focusout', function () {
                if (that.search() !== this.value) {
                    that.search(this.value).draw();
                }
            });

            $('input', this.footer()).on('keyup change', function (ev) {
                if (ev.keyCode == 13) { //only on enter keypress (code 13)
                    if (that.search() !== this.value) {
                        that.search(this.value).draw();
                    }
                }
            });
        });

        $('#myTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        $('#myTable tbody').on('click', 'td .anchor-update', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            var url = '@Url.Action("Edit", "PolicyBilling")';
            url += '/' + row.data().policy_Id;
            $('#myModal').empty();
            $('#myModal').load(url);
            $('#myModal').modal('show');
        });
    });
</script>