@{
    ViewData["Title"] = "Error Billing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br /><br /><br /><br />
<center>
    <h1>Error Sync Data dari Life21</h1>
</center>
<br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br />