@using NonFactors.Mvc.Grid;
@model CAF.JBS.ViewModels.SubmitUploadVM

@{
    ViewData["Title"] = "Data Upload Billing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload Data</h2><br />

<b>
    <i>
        <p class="text-danger">
            @{
                if (TempData["terimaError"] != null)
                {
                    var pesan = (string)TempData["terimaError"];
                    @pesan <br />
                }
            }
        </p>
    </i>
</b>


@(Html
    .Grid(Model.StagingUploadVM)
    .Build(columns =>
    {
        columns.Add(model => model.BillCode).Titled("BillCode").Filterable(false);
        columns.Add(model => model.polisNo).Titled("PolisNo").Filterable(false);
        columns.Add(model => model.tgl).Titled("tgl").Formatted("{0: yyyy-MM-dd hh:mm:ss}").Css("coldate").Filterable(false);
        columns.Add(model => model.IsSuccess).Titled("IsSuccess").Filterable(false);
        columns.Add(model => model.amount).Titled("Amount").Filterable(false);

        columns.Add(model => "<a class='glyphicon glyphicon-stop'></a>").Titled("||").Encoded(false).Filterable(false);

        columns.Add(model => model.BillingID).Titled("BillingID").Filterable(false);
        columns.Add(model => model.ReqSeq).Titled("Seq").Filterable(false);
        columns.Add(model => model.Due_Date_Pre).Titled("Due_Date_Pre").Formatted("{0: dd MMM yyyy}").Css("coldate").Filterable(false);
        columns.Add(model => model.billAmount).Titled("billAmount").Filterable(false);
    }).Empty("Data semua valid")
    .Pageable(pager =>
    {
        pager.PagesToDisplay = 0;
        pager.RowsPerPage = 100;
    })
    .Sortable()
    .Filterable()
    .Css("table-hover")
)
<form asp-action="SubmitUpload">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="trancode" />
    <input type="submit" value="Submit" class="btn btn-success" />
</form>