@model IEnumerable<CAF.JBS.Models.cctypeModel>
@using NonFactors.Mvc.Grid;

@{
    ViewData["Title"] = "Card Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .colNumber {
        width: 150px;
    }
</style>

<h2>Card Type</h2>
<p style="text-align:right;">
    <a class="btn btn-primary" asp-action="Create">ADD</a>
</p>
@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Id).Titled("ID").Css("colNumber");
        columns.Add(model => model.TypeCard).Titled("Jenis Kartu Kredit");
    })
    .Pageable(pager =>
    {
        pager.PagesToDisplay = 10;
        pager.RowsPerPage = 10;
    })
    .Sortable()
    .Filterable()
    .Css("table-hover")
)