@{
    ViewData["Title"] = "Policy CC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    th input {
        width: 100%;
    }

    table.dataTable thead tr th.search {
        padding: 10px 8px;
    }
</style>
<h2>Policy CC</h2>
<br />

<br />
<table id="myTable" class="stripe">
    <thead>
        <tr>
            <th>PolicyID</th>
            <th>PolicyNo</th>
            <th>CCNo</th>
            <th>CCName</th>
            <th>CCExpiry</th>
            <th>BankIssuer</th>
            <th style="min-width:80px;">DateCrt</th>
            <th style="min-width:80px;">DateUpdate</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
        </tr>
    </tfoot>
</table>


<script>
    $(document).ready(function () {
        $('#myTable').dataTable({
            serverSide: true,
            processing: true,
            initComplete: function () {
                var r = $('#myTable tfoot tr');
                $('#myTable thead').append(r);
                $('#search_0').css('text-align', 'center');
            },
            dom: '<"top"B>tr<"bottom"ip>',
            language: {
                "decimal": ",",
                "thousands": ".",
                "zeroRecords": "No Data",
                "infoEmpty": "No Data",
            },
            ajax: {
                "url": "@Url.Action("PageData", "PolicyCc")",
                "type": "POST"
            },
            columns: [
                { data: "policyId", className: "dt-right" },
                { data: "policy_no", className: "dt-right" },
                { data: "cc_no", className: "dt-right" },
                { data: "cc_name" },
                { data: "cc_expiry", className: "dt-center" },
                { data: "bank_code" },
                {
                    data: "dateCrt",
                    searchable: false,
                    className: "dt-center",
                    render: function (data) {
                        var tgl = new Date(data);
                        return data == null ? "" : tgl.toLocaleDateString("en-GB", { year: "numeric", month: "short", day: "numeric" })
                    }
                },
                {
                    data: "dateUpdate",
                    searchable: false,
                    className: "dt-center",
                    render: function (data) {
                        var tgl = new Date(data);
                        return data == null ? "" : tgl.toLocaleDateString("en-GB", { year: "numeric", month: "short", day: "numeric" })
                    }
                },
            ]
        });

        $('#myTable tfoot th').filter(":eq(0),:eq(1),:eq(2),:eq(3),:eq(4),:eq(5)").each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder=" ... " />');
        });

        // DataTable
        var table = $('#myTable').DataTable();

        /* Apply the search for individual columns*/
        table.columns().every(function () {
            var that = this;
            $('input', this.footer()).on('focusout', function () {
                if (that.search() !== this.value) {
                    that.search(this.value).draw();
                }
            });

            $('input', this.footer()).on('keyup change', function (ev) {
                if (ev.keyCode == 13) { //only on enter keypress (code 13)
                    if (that.search() !== this.value) {
                        that.search(this.value).draw();
                    }
                }
            });
        });

        $('#myTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
    });
</script>