@model CAF.JBS.ViewModels.DownloadBillingVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Download">
    <div class="container" style="margin: auto; padding: 20px;">
        <div class="panel panel-primary" style="margin: auto;width:250px;">
            <div class="panel-heading">Download Billing</div>
            <div class="panel-body">
                <input type="checkbox" asp-for="BcaCC" /> BCA CC<br />
                <input type="checkbox" asp-for="MandiriCC" /> Mandiri CC <br />
                <input type="checkbox" asp-for="BniCC" /> BNI CC <br />
                <input type="checkbox" asp-for="MegaCC" /> Mega CC 
            </div>
            <div class="panel-body">
                <input type="checkbox" asp-for="BcaAC" /> BCA Auto Collection <br />
                <input type="checkbox" asp-for="MandiriAC" /> Mandiri Auto Collection <br />
                <input type="checkbox" asp-for="BcaRegularPremium" /> BCA Reguler Premium <br />
                <input type="checkbox" asp-for="BCAOther" /> BCA Other Payment
            </div>
            <div class="panel-footer" style="margin: auto; padding: 10px;">
                <input type="submit" value="Create File" class="btn btn-success" />
                <input type="button" asp-action="DownloadVA" asp-controller="Billing" value="Download VA" class="btn btn-primary" />
            </div>
        </div>            
    </div>

</form>
