@model IEnumerable<CAF.JBS.ViewModels.BillingViewModel>
@using NonFactors.Mvc.Grid;

@{
    ViewData["Title"] = "Billing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .colDate {
        width: 500px;
    }
</style>
<h2>Billing</h2>


@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.BillingID).Titled("BillingID");
        columns.Add(model => model.policy_id).Titled("PolicyID");
        columns.Add(model => model.PolicyNo).Titled("PolicyNo");
        columns.Add(model => model.recurring_seq).Titled("Recurring Seq");
        columns.Add(model => model.BillingDate).Titled("BillingDate").Formatted("{0:dd-MM-yyyy}").Css("colDate");
        columns.Add(model => model.due_date_pre).Titled("Due Date Pre").Formatted("{0:dd-MM-yyyy}").Css("colDate");
        columns.Add(model => model.PeriodeBilling).Titled("PeriodeBilling");
        columns.Add(model => model.BillingType).Titled("BillingType");
        columns.Add(model => model.policy_regular_premium).Titled("Regular Premium");
        columns.Add(model => model.TotalAmount).Titled("Billing Amount");
        columns.Add(model => model.status_billing).Titled("StatusBilling");
        columns.Add(model => model.IsDownload).Titled("IsDownload");
        columns.Add(model => model.BankIdDownload).Titled("BankIdDownload");
        columns.Add(model => model.ReceiptID).Titled("ReceiptID");
    }).Empty("No data found")
    .Pageable(pager =>
    {
        pager.PagesToDisplay = 10;
        pager.RowsPerPage = 10;
    })
    .Sortable()
    .Filterable()
    .Css("table-hover")
)