@using NonFactors.Mvc.Grid;

@model IEnumerable<CardIssuerBankModel>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Prefix).Titled("Bin Number");
        columns.Add(model => model.Type).Titled("Type");
        columns.Add(model => model.acquirer_bank_id).Titled("Acquirer Bank");
        columns.Add(model => model.Description).Titled("Description").Filterable(false);
        columns.Add(model => $"<a asp-action='Edit' asp-action='Update' asp-route-id=" + model.card_issuer_bank_id + ">Edit</a>").Encoded(false).Filterable(false);

    })
    .Pageable(pager =>
    {
        pager.PagesToDisplay = 10;
        pager.RowsPerPage = 10;
    })
    .Sortable()
    .Filterable()
    .Css("table-hover")
)