@using NonFactors.Mvc.Grid;

@model IEnumerable<CAF.JBS.ViewModels.CardIssuerBankViewModel>

@{
    ViewData["Title"] = "Card Issuer Bank";
}

<h2>Card Issuer Bank</h2>

<p>
    <a asp-action="Create">ADD</a>
</p>

@*@Html.AjaxGrid(Url.Action("GridPartial", new { param = "value" }))*@


@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Prefix).Titled("Bin Number");
        columns.Add(model => model.TypeCard).Titled("Type");
        columns.Add(model => model.BankName).Titled("Acquirer Bank");
        columns.Add(model => model.Description).Titled("Description").Filterable(false);
        columns.Add(model => "<a href='./CardIssuerBank/Edit/" + model.card_issuer_bank_id + "'>Edit</a>").Encoded(false).Filterable(false);

    })
    .Pageable(pager =>
    {
        pager.PagesToDisplay = 10;
        pager.RowsPerPage = 10;
    })
    .Sortable()
    .Filterable()
    .Css("table-hover")
)