@model CAF.JBS.ViewModels.DownloadBillingVM

@{
    ViewData["Title"] = "Upload Billing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Download">
    <div class="container" style="margin: auto; padding: 20px;">
        <div class="panel panel-primary" style="margin: auto;width:1100px;">
            <div class="panel-heading">Upload Billing</div>
            <div class="panel-body">
                <h4>Billing CC</h4>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width:250px;">Bank Collector</th>
                            <th>File Billing</th>
                            <th>Tgl di Proses</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>            
    </div>

</form>